<div class="footer">
  <ul class="nav">
    <li class="nav-item ">
      <a class="nav-link border-right" href=""><span i18n>Arabic</span><i class="fas fa-chevron-down pl-2"></i></a>
    </li>
    <li class="nav-item border-right">
      <a class="nav-link" href=""><span i18n>English</span><i class="fas fa-chevron-down pl-2"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" i18n>Privacy</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="" i18n>Community</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="" i18n>FAQ</a>
    </li>
</ul>
</div>
