<nav class="navbar navbar-expand-lg navbar-light pr-5 pl-5 pt-4">
  <a class="navbar-brand" href="#">Zidyia</a>

  <div class="form-inline my-2 my-lg-0 ml-auto">
      <div class="icons d-none d-lg-block d-xl-block">
        <i class="fas fa-search"></i>
        <i class="fas fa-comments"><span class="badge">1</span></i>
        <i class="fas fa-bell"><span class="badge">3</span></i>
      </div>
      <p><span i18n>Hi, Ahmed</span><i class="fas fa-chevron-down pl-2"></i></p>
      <img src="assets/img_avatar.png" alt="Avatar" style="width:30px ; height: 30px;">
      <a href="" class="d-none d-lg-block d-xl-block"><i class="fas fa-user-check"></i><span i18n>Verify</span></a>
  </div>
</nav>