<div class="skills">
  <div class="skills-nav">
    <ul class="nav">
      <li class="nav-item">
         <a class="nav-link d-line" href=""><i class="fas fa-tachometer-alt d-inline"></i><span i18n>My Dashboard</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" ><i class="fas fa-graduation-cap"></i><span i18n>Education</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" ><i class="fas fa-briefcase"></i><span i18n>Work</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href=""><i class="fas fa-certificate"></i><span i18n>Certifications</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href=""><i class="fas fa-tools"></i><span i18n>Skills</span></a>
      </li>
    </ul>
  </div>

  <div class="skills-content">
    <div class="container">
      <div class="row">
        <div class="content col-md-6  mb-3">
          <div class="content-head">
            <p><span i18n>Education</span><i class="fas fa-pencil-alt ml-4"></i></p>
          </div>
          <div class="content-skill d-flex justify-content-around p-2">
            <div class="skill-avg ">
              <circle-progress [percent]="95" [radius]="50" [outerStrokeWidth]="4"
                [outerStrokeColor]="'#fff'" [unitsColor]="'#fff'" [titleColor]="'#fff'"  [animation]="true"
                [animationDuration]="1000"></circle-progress>
            </div>
            <div class="skill-text mt-5">
              <div class="skill-text-1 mb-2"><i class="fas fa-user-check fa-sm mr-2"></i>
                <p class="d-inline" i18n>Education Done</p>
              </div>
              <div class="skill-text-2"><i class="fas fa-marker fa-sm mr-2"></i>
                <p class="d-inline" i18n> 2 PENDING</p>
              </div>
            </div>
            <div class="skill-total text-center p-0" style="color:#fff" i18n>7<br>Total</div>
          </div>
          <div class="content-head mt-4 ">
            <p><span i18n>Certifications</span><i class="fas fa-pencil-alt ml-4"></i></p>
          </div>
          <div class="content-skill d-flex justify-content-around p-2">
            <div class="skill-avg ">
              <circle-progress [percent]="90" [radius]="50" [outerStrokeWidth]="4"
                [outerStrokeColor]="'#fff'" [unitsColor]="'#fff'" [titleColor]="'#fff'"  [animation]="true"
                [animationDuration]="1000"></circle-progress>
            </div>
            <div class="skill-text mt-5">
              <div class="skill-text-1 mb-2"><i class="fas fa-user-check fa-sm mr-2"></i>
                <p class="d-inline" i18n>Education Done</p>
              </div>
              <div class="skill-text-2"><i class="fas fa-marker fa-sm mr-2"></i>
                <p class="d-inline" i18n> 2 PENDING</p>
              </div>
            </div>
            <div class="skill-total text-center" style="color:#fff" i18n>7<br>Total</div>
          </div>
        </div>
        <div class="content col-md-6  mb-3">
          <div class="content-head">
            <p><span i18n>Work</span><i class="fas fa-pencil-alt ml-4"></i></p>
          </div>
          <div class="content-skill d-flex justify-content-around p-2">
            <div class="skill-avg ">
              <circle-progress [percent]="54" [radius]="50" [outerStrokeWidth]="4"
                [outerStrokeColor]="'#fff'" [unitsColor]="'#fff'" [titleColor]="'#fff'"  [animation]="true"
                [animationDuration]="1000"></circle-progress>
            </div>
            <div class="skill-text mt-5">
              <div class="skill-text-1 mb-2"><i class="fas fa-user-check fa-sm mr-2"></i>
                <p class="d-inline" i18n>2 Work Done</p>
              </div>
              <div class="skill-text-2"><i class="fas fa-marker fa-sm mr-2"></i>
                <p class="d-inline" i18n> 2 PENDING</p>
              </div>
            </div>
            <div class="skill-total text-center p-0" style="color:#fff" i18n>7<br>Total</div>
          </div>
          <div class="content-head mt-4 ">
            <p><span i18n>Skills</span><i class="fas fa-pencil-alt ml-4"></i></p>
          </div>
          <div class="content-skill d-flex justify-content-around p-2">
            <div class="skill-avg ">
              <circle-progress [percent]="80" [radius]="50" [outerStrokeWidth]="4"
                [outerStrokeColor]="'#fff'" [unitsColor]="'#fff'" [titleColor]="'#fff'"  [animation]="true"
                [animationDuration]="1000"></circle-progress>
            </div>
            <div class="skill-text mt-5">
              <div class="skill-text-1 mb-2"><i class="fas fa-user-check fa-sm mr-2"></i>
                <p class="d-inline" i18n>2 Skills</p>
              </div>
              <div class="skill-text-2"><i class="fas fa-marker fa-sm mr-2"></i>
                <p class="d-inline" i18n> 2 PENDING</p>
              </div>
            </div>
            <div class="skill-total text-center" style="color:#fff" i18n>7<br>Total</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-div"></div>



</div>

